<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title clickable" ng-click="requestAction('list', 'categories')">Categories</h3>
        <div class="btn-group pull-right heightFix" ng-show="listVisibility()">
            <div class="clickable btn btn-default" ng-click="requestAction('create')"><span class="glyphicon glyphicon-plus"></span></div>
        </div>
    </div>
    <div class="panel-body">
        <div class="alert alert-warning" ng-if="loading" role="alert">Loading, please wait...</div>
        <div class="alert alert-danger" ng-if="loadingError" role="alert">{{loadingError}}</div>
        <div ui-view></div>
        <form ng-hide="loading || loadingError || !listVisibility()" ng-submit="loadList(true)">
            <nav>
                <div>Showing from <b>{{pagination.from}}</b> to <b>{{pagination.to}}</b> of <b>{{pagination.total}}</b>.</div>
                <ul class="pagination">
                    <li ng-class="{disabled : pagination.currentPage === 1}"><a ng-click="gotoPage(1)" aria-label="First"><span aria-hidden="true">|&laquo;</span></a></li>
                    <li ng-class="{disabled : pagination.currentPage === 1}"><a ng-click="gotoPage(pagination.currentPage - 1)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li ng-repeat="page in pagination.pages" ng-class="{'active' : page === pagination.currentPage}"><a ng-click="gotoPage(page)">{{page}} <span class="sr-only" ng-if="page == pagination.currentPage">(current)</span></a></li>
                    <li ng-class="{disabled : pagination.currentPage == pagination.totalPages}"><a ng-click="gotoPage(pagination.currentPage + 1)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                    <li ng-class="{disabled : pagination.currentPage == pagination.totalPages}"><a ng-click="gotoPage(pagination.totalPages)" aria-label="Last"><span aria-hidden="true">&raquo;|</span></a></li>
                </ul>
            </nav>
            <table class="table table-condensed table-striped table-responsive table-hover">
                <tr>
                    <th></th>
                    <th class="clickable" ng-click="order('parent')">Parent <span class="sortorder" ng-show="predicate === 'parent'" ng-class="{reverse:reverse}"></span></th>
                    <th class="clickable" ng-click="order('name')">Name <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span></th>
                    <th class="clickable" ng-click="order('status')">Status <span class="sortorder" ng-show="predicate === 'status'" ng-class="{reverse:reverse}"></span></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td></td>
                    <td ng-class="{'has-success' : currentFilter.parent}"><input class="form-control" type="text" placeholder="no filter" ng-model="filters.parent" /></td>
                    <td ng-class="{'has-success' : currentFilter.name}"><input class="form-control" type="text" placeholder="no filter" ng-model="filters.name" /></td>
                    <td ng-class="{'has-success' : currentFilter.status}"><input class="form-control" type="text" placeholder="no filter" ng-model="filters.status" /></td>
                    <td colspan="2"><button type="submit" class="btn btn-default btn-sm">Filter</button></td>
                </tr>
                <tr ng-repeat="category in categories">
                    <td><div class="clickable" ng-click="requestAction('detail', category._id)"><span class="glyphicon glyphicon-eye-open"></span></div></td>
                    <td ng-class="{'bg-success' : currentFilter.parent}">{{checkContent(category.parent)}}</td>
                    <td ng-class="{'bg-success' : currentFilter.name}">{{checkContent(category.name)}}</td>
                    <td ng-class="{'bg-success' : currentFilter.status}">{{checkContent(category.status)}}</td>
                    <td><div class="clickable" ng-click="requestAction('edit', category._id)"><span class="glyphicon glyphicon-pencil"></span></div></td>
                    <td><div class="clickable" ng-click="requestAction('delete', category._id)"><span class="glyphicon glyphicon-remove"></span></div></td>
                </tr>
            </table>
            <nav>
                <ul class="pagination">
                    <li ng-class="{disabled : pagination.currentPage === 1}"><a ng-click="gotoPage(1)" aria-label="First"><span aria-hidden="true">|&laquo;</span></a></li>
                    <li ng-class="{disabled : pagination.currentPage === 1}"><a ng-click="gotoPage(pagination.currentPage - 1)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li ng-repeat="page in pagination.pages" ng-class="{'active' : page === pagination.currentPage}"><a ng-click="gotoPage(page)">{{page}} <span class="sr-only" ng-if="page == pagination.currentPage">(current)</span></a></li>
                    <li ng-class="{disabled : pagination.currentPage == pagination.totalPages}"><a ng-click="gotoPage(pagination.currentPage + 1)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                    <li ng-class="{disabled : pagination.currentPage == pagination.totalPages}"><a ng-click="gotoPage(pagination.totalPages)" aria-label="Last"><span aria-hidden="true">&raquo;|</span></a></li>
                </ul>
            </nav>
        </form>
    </div>
</div>